body {
    display: block !important;
}
#wrapper {
    display: none;
}
#ieonly {
    display: block !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#ieonly p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
}